*.o
*.d
*.axf
*.bin
*.hex
*.map
*.s37
*.metadata
*bin/
*tmp/
*.tmp
*.bak
*.swp
*~.nib
*local.properties
*.settings/
*.loadpath
*.recommenders
*.trash/
.externalToolBuilders/
*.launch
*.autotools
*.target
*.tern-project
*.texlipse
*.recommenders/
*.apt_generated/
*.apt_generated_test/
*/GNU\ ARM\ v10.2.1\ -\ Default/*
*/GNU\ ARM\ v10.2.1\ -\ Debug/*
*/GNU\ ARM\ v10.3.1\ -\ Default/*
*/GNU\ ARM\ v10.3.1\ -\ Debug/*
*/GNU\ ARM\ v12.2.1\ -\ Default/*
*/GNU\ ARM\ v12.2.1\ -\ Debug/*
*.html
*.png
ble_app/data.csv
*/autogen/*
*.patch
.vscode
*.DAT
*/gecko_sdk_4.1.1/*
*/gecko_sdk_4.1.2/*
*/gecko_sdk_4.3.2/*
*/.uceditor/*
*/__pycache__/*
*/.devcontainer/*
/.idea/*
codeStyles
.clang-format
/cmake-build-debug
